body {
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom right, rgb(15, 15, 15) 45%, rgb(0, 0, 0));
}

.avatar {
    border-radius: 25px;
    position: absolute;
    left: 26%;
    top: 5%;
    width: 130px;
    height: 130px;
}

.left {
    position: absolute;
    top: 76%;
    left: 0px;
    width: 50px;
    height: 50px;
}

.left:hover {
    cursor: pointer;
}

.right {
    position: absolute;
    top: 76%;
    left: 81%;
    width: 50px;
    height: 50px;
}

.right:hover {
    cursor: pointer;
}

.wallpaper {
    position: absolute;
    top: 5px;
    left: 2.5%;
    border-radius: 5px 5px 0 0;
    width: 95%;
    height: 33%;
    /* height: 10%; */
    object-fit: fill;
}

.block {
    position: absolute;
    top: 99px;
    left: 2.5%;
    background-color: rgb(25, 26, 30);
    border-radius: 0 0 6px 6px;
    width: 95%;
    height: 60.5%;
}

.add {
    position: absolute;
    top: 100px;
    left: 76%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.remove {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.username {
    position: absolute;
    top: 140px;
    left: 34%;
    font-family: Lato,Helvetica Neue,helvetica,sans-serif;
    color: rgb(255, 255, 255);
}

.username:hover {
    cursor: pointer;
}

.avatar:hover {
    cursor: pointer;
}

.left {
    z-index: 100;
}
.right {
    z-index: 100;
}